*.obj filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
0c7e15b272ac840a595ec8d38c4d8883 filter=lfs diff=lfs merge=lfs -text
ArtifactDB filter=lfs diff=lfs merge=lfs -text
